body{
    background-size:cover;
}
.note{
  font-size:25px;
  font-family: 'Times New Roman';
  font-weight: bolder;  
  padding: 0px;
  margin:0px;
  text-align: center;
  width:100%;
}

canvas{
    border-radius:100px;
    border-width: 5px;
    border-style: dashed;
    box-shadow: 5px;
    border-color: black;
    padding:10px;
}

